future >= 0.15.2
# Elasticsearch 2.x
elasticsearch>=2.0.0,<3.0.0
amqp==1.4.2
cryptography==1.9
Flask==0.12.2
future==0.16.0
pycparser==2.17
pycrypto==2.6.1
pyOpenSSL==17.0.0
requests==2.10.0
schedule==0.4.2
